body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  display: flex;
  background-color:rgb(245, 245, 245);
  gap: 1rem;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
 }
 nav {
   padding: 1rem;
 }
 nav ul {
   list-style: none;
   align-self: center;
   display: flex;
   gap: 1rem;
   margin: 0;
   padding: 0;
   font-family:Arial, Helvetica, sans-serif;
 }
 nav ul li {
   display: inline;
 }
 nav ul li a {
   color: rgb(0, 0, 0);
   font-size: small;
   text-decoration: none;
 }
 nav ul li a:hover {
   text-decoration: underline;
 }
 .open {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.closed {
  display: none;
}
.mobile-menu {
  display: none;
}
.mobile-menu.open {
  display: block;
}
.mobile-menu li {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #444343;
}
.desctop-menu {
  display: flex;
  justify-content: space-between;
  align-items: left;
}
 .nav-toggle {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
 }
 .nav-toggle svg {
  width: 24px;
  height: 24px;
}
.hidden {
  display: none;
}
.nav-toggle.open + ul {
  display: block;
}

/*Main page sections styling----------*/
.main_section {
  display: grid;
  grid-template-columns:60% 40%;
  background-color: #495E57;
  padding-left: 25%;
  padding-right: 25%;
}
.hero_image {
  width: 200px;
  height: auto;
  border-radius: 16px;
  margin-bottom: -40px;
}
.text {
 text-align: left;
 margin-left: 3%;
 margin-right: 15%;
}
.photo {
text-align: center;
padding-top: 20%;
position: relative;
overflow: visible;
}
.highlights_section {
  display: grid;
  grid-template-columns:60% 40%;
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 5%;
  margin-bottom: 10%;
}
.cards {
  display: grid;
  grid-template-columns:auto auto auto;
  gap: 20px;
  text-align: left;
  margin-top: 10%;
}
.card_special {
  width: 200px;
  background-color: #EDEFEE;
  padding-bottom: 5%;
  border-radius: 16px 16px 0 0;
}
.card_image {
  width: 200px;
  height:160px;
  object-fit:cover;
  border-radius: 16px 16px 0 0;
}
.title_price {
  display:grid;
  grid-template-columns: 70% 30%;
  margin-top: 10%;
  margin-bottom: 7%;
}
.card_text {
  padding: 0% 7% 0% 7%;
}


/*Text styling ------------------------*/
h1 {
  color: #F4CE14;
  font-family: 'Markazi Text', serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:xx-large;
  margin-bottom: 1%;
}
.reservation {
  text-align: center;
}
h2 {
  color: aliceblue;
  font-family: 'Markazi Text', serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  padding-top: 0%;
  margin-top: 0%;
}
h3 {
  text-align: left;
  color: #495E57;
}
h4 {
  font-family: 'Markazi Text', serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0 0 0 0;
  color: #333333;
  font-size: 18px;
  line-height: 1.5em;
}
h5 {
  color:crimson;
  text-align: right;
  margin: 0 0 0 0;
  font-size: 16px;
  line-height: 1.5em;
}
p {
color: aliceblue;
font-size: 16px;
font-family: 'Karla', sans-serif, Arial, Helvetica;
line-height: 1.5em;
}
.card_description {
  color: #333333;
  font-size: small;
  padding: 0;
  margin-top: 0%;
}
a {
  color: #333333;
  text-decoration: none;
  font-size: 15px;
}
a:hover {
  text-decoration: underline;
}

/*Buttons styling ------------------*/
button {
  background-color: #F4CE14;
  border-radius: 16px;
  border: #F4CE14 solid 2px;
  color: black;
  padding: 10px 30px;
  margin-top: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
button:hover {
 border: white solid 2px;
}
button:active {
background-color:#495E57;
}
.disabled-button {
  background-color: #8e8e8e;
  border-radius: 16px;
  border: #444343 solid 2px;
  color: black;
  padding: 10px 30px;
  margin-top: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.disabled-button:hover {
  border: #444343 solid 2px;
}
.disabled-button:active {
  background-color: #8e8e8e;
}
/*Form Styling ---------- */
form {
  display: grid;
  max-width: 100%;
  gap: 15px;
  color: aliceblue;
}
.form-section {
 display: grid;
 grid-template-columns: 50%;
 background-color: #495E57;
 padding-left: 25%;
 padding-right: 25%;
 padding-bottom: 5%;
 padding-top: 5%;
 justify-content: center;
}
 /*Media for responsive navigation bar*/
 @media (max-width: 769px){
  nav ul {flex-direction: column;}
  nav li {margin-right: 0;}
  .cards {
    display: grid;
    grid-template-columns:auto;}
    .main_section {
      padding-bottom: 5%;
      padding-left: 5%;
    }
    .form-section {
    grid-template-columns: 100%;
    padding-left: 5%;
    padding-right: 10%;}
    .highlights_section {
      grid-template-columns:100%;
      padding-left: 10%;
      padding-right: 10%;
      margin-top: 2%;
      margin-bottom: 5%;
    }
    button {
      margin-top: 2%;
    }
    .card_special {
      width: 300px;
    }
    .card_image {
      width: 300px;
      height:160px;}
 }
 @media (max-width: 480px){
  nav ul {align-items: center;}
 }